* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.heading {
  margin-top: 20px;
  font-size: 35px;
  color: crimson;
  text-align: center;
}

.book-container {
  display: grid;
  justify-content: center;  
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

.text_input {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  align-items: center;
  margin-top: 20px;
  width: 90%;
}

.text_input input {
  padding: 5px 8px;
  margin-bottom: 10px;
  color: rgb(243, 234, 234);
  background-color: rgb(63, 54, 54);
  border-radius: 5px;
}

.book-list button {
  justify-self: flex-end;
  font-size: 12px;
  width: 25%;
  font-family: 'Balsamiq Sans', sans-serif;
  background-color: #945c13;
  border-radius: 5px;
}

.book {
  border: black solid 1px;
}

.book-title {
  margin: 1px;
}
